<div class="container">
    <form>
        <fieldset disabled>
          <legend><h1>LLENAR EL FORMULARIO</h1></legend>
          <div class="mb-3">
            <label for="disabledTextInput" class="form-label">Nombre</label>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
          </div>
          <div class="mb-3">
            <label for="disabledSelect" class="form-label">Seleccione una opcion</label>
            <select id="disabledSelect" class="form-select">
              <option>...........</option>
            </select>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
              <label class="form-check-label" for="disabledFieldsetCheck">
                Esta de acuerdo?
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </fieldset>
      </form>
      <br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15301.980397289273!2d-68.12397847916262!3d-16.501084264035864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f2065b8303add%3A0xc518ef149e5cbcb0!2sParque%20Urbano%20Central!5e0!3m2!1sen!2sbo!4v1717811897095!5m2!1sen!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>