<div class="container my-2">
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-primary">Salir</button>
    <button type="button" class="btn btn-primary">Ver Mas......</button>
  
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Seguir Viendo
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <li><a class="dropdown-item" href="#">Video Informativo</a></li>
        <li><a class="dropdown-item" href="#">Otras paginas similares</a></li>
      </ul>
    </div>
  </div>
</div>